

.navbar{
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 60px;
     padding: 0px 20px;
     font-family: 'IBM Plex Sans', sans-serif;
     position: sticky;
     z-index: 999;
     top: 0;
     border-radius: 0px 0px 10px 10px ;
     /*background-color: var(--bg);
     */background: linear-gradient(    120deg,    rgba(255, 255, 255, 0.25),  rgba(255, 255, 255, 0.1)  );
     box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
     backdrop-filter: blur(80px);
     -webkit-border-radius: 0px 0px 10px 10px ;
     -moz-border-radius: 0px 0px 10px 10px ;
     -ms-border-radius: 0px 0px 10px 10px ;
     -o-border-radius: 0px 0px 10px 10px ;

}
.links{
     display: flex;
     align-items: center;
     gap: 20px;
     font-size: 16px;
     font-weight: bolder;

}



.p {
  font-size: 24px;
  color: var(--text);
  font-weight: 700;
  text-transform: capitalize;
  font-style: italic;
  font-family: "Mansalva", cursive;
  position: relative;
  width: 100%;
  margin-left:10px ;

}
.p:before {
  position: absolute;
  content: "#";
  width: 24px;
  height: 24px;

  color: #7dbb01;
  left: -15px;

}

.toggle {
    width: 40px;
    height: 20px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    background: linear-gradient(    120deg,    rgba(255, 255, 255, 0.25),  rgba(255, 255, 255, 0.1)  );
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--textSoft);
    padding: 5px;

    position: relative;

}

.ball {
   width: 18px;
   height: 18px;
   border-radius: 50%;
   position: absolute;
   left: 0px;
   background-color: var(--textSoft);
   border: 1px solid var(--bgSoft);

}




.light .ball {
  left: unset;
  right: 0px;
 

}
.ball{
  transition: all ease 2s;
  -webkit-transition: all ease 2s;
  -moz-transition: all ease 2s;
  -ms-transition: all ease 2s;
  -o-transition: all ease 2s;

}

.searchButton {
  stroke: var(--text);
  display: flex;
  align-items: center;

   background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.25),
  rgba(255, 255, 255, 0.1)
  );
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
  padding: 8px 18px;
  border-radius:20px ;
  -webkit-border-radius:20px ;
  -moz-border-radius:20px ;
  -ms-border-radius:20px ;
  -o-border-radius:20px ;
}


@media (max-width: 768px) {
.p{
    font-size: 12px;
}
.searchButton{
  width: 50px;
}
  .links{
font-size: 12px;
gap: 10px;
}

.toggle{
 width: 26px;
  height: 14px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
 background-color: var(--softTextColor);
  border: 1px solid var(--textSoft);
  /* padding: 5px; */
  position: relative;
}

.ball {

  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  background-color: var(--textSoft);
  border: 1px solid var(--bgSoft);
}


}
